.menu{
    background-color: #D5B0AC;
    text-align: center;
    
}
.menu>span{
    display: inline-block;
    
   
}



.menu_vertical{
    text-align: center;
    
}
.menu_vertical>span{
    display:block;
    background-color: #D5B0AC;
    
}


/* */
nav>span{
    color:#402E2A;
    width:100px;
    height:30px;
    line-height:30px;
    font-weight:700;
}
nav>span:hover{
    background-color: #9CD08F;
    color:#FFFFFF;
    cursor:pointer;
}
