<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
</head>
<body>
    <h1>
        
        </h1>
       
        <a href='#' id="no"><button type="submit"  name="vote">Sai/không/trái</button></a>
        <a href='#' id="yes"><button type="submit"  name="vote">Đúng/có/phải</button></a>
       
        <a href='#' id='info'><button>Kết quả vote</button></a>
        <a href='/'><button>Câu hỏi khác</button></a>
    <script>
        $.ajax({
            method:'GET',
            url:'/api/randomquestion',
            success:function(data){
                $('h1').text(data.content);
                $('#no').attr('href',`/api/vote/${data._id}/no`);
                $('#yes').attr('href',`/api/vote/${data._id}/yes`);
                $('#info').attr('href',`/question/${data._id}`);
            },
            error:function(err){
                console.log(err);
            }
        })
        
    </script>
</body>
</html>